/* -- Talent -- */
/* Hero */
.talent_bg {
  opacity: 0;
}

.talent_bg-globe-circ {
  transition-property: opacity;
  transition-duration: 600ms;
  will-change: transform, border-radius, opacity;
  animation: scaleCirc 2.5s infinite ease-in-out;
  border: 1px solid rgb(202 204 255 / 25%);
  z-index: -2;
}

.talent_bg-globe-circ.is-small {
  animation: scaleCirc 2.5s infinite;
  animation-delay: 750ms;
}

@keyframes scaleCirc {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }

  90% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes scaleCircSmall {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  90% {
    transform: scale(2.5);
    opacity: 0;
  }

  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.talent_bg_globe-img {
  animation: rotateIcon 15s infinite linear;
}

/* Solution */
.talent_solution_bg-circ-bg {
  transition-property: opacity;
  transition-duration: 600ms;
  will-change: transform, border-radius, opacity;
  animation: scaleCircSmall 2.75s infinite ease-in-out;
  border: 1px solid #f5e181;
  z-index: -2;
}

.talent_solution_bg-circ.is-2 .talent_solution_bg-circ-bg {
  border-color: #87cbf7;
}

.talent_solution_bg-circ.is-3 .talent_solution_bg-circ-bg {
  border-color: #4757eb;
}

#plus-icon {
  animation: rotateIcon 5s infinite linear;
  transform-box: content-box;
  transform-origin: center;
}

#line-1 {
  transform-box: view-box;
  animation: gridHighlight 7s infinite linear;
}

@keyframes gridHighlight {
  0% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(100%);
  }
}

#line-2 {
  transform-box: view-box;
  animation: gridHighlight2 7s infinite linear 3.5s;
  transform: translateX(50%);
}

@keyframes gridHighlight2 {
  0% {
    transform: translateX(75%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* -- Footer Logo -- */
.footer_logo-embed:nth-child(13) {
  transform: translate(-4px, -4px);
}

.footer_logo-embed:nth-child(12) {
  transform: translate(-8px, -8px);
}

.footer_logo-embed:nth-child(11) {
  transform: translate(-12px, -12px);
}

.footer_logo-embed:nth-child(10) {
  transform: translate(-16px, -16px);
}

.footer_logo-embed:nth-child(9) {
  transform: translate(-20px, -20px);
}

.footer_logo-embed:nth-child(8) {
  transform: translate(-24px, -24px);
}

.footer_logo-embed:nth-child(7) {
  transform: translate(-28px, -28px);
}

.footer_logo-embed:nth-child(6) {
  transform: translate(-32px, -32px);
}

.footer_logo-embed:nth-child(5) {
  transform: translate(-36px, -36px);
}

.footer_logo-embed:nth-child(4) {
  transform: translate(-40px, -40px);
}

.footer_logo-embed:nth-child(3) {
  transform: translate(-44px, -44px);
}

.footer_logo-embed:nth-child(2) {
  transform: translate(-48px, -48px);
}

.footer_logo-embed:nth-child(1) {
  transform: translate(-52px, -52px);
}

/* Hover */
.footer_component:hover .footer_logo-embed:nth-child(13) {
  transform: translate(-6px, -6px);
}

.footer_component:hover .footer_logo-embed:nth-child(12) {
  transform: translate(-12px, -12px);
}

.footer_component:hover .footer_logo-embed:nth-child(11) {
  transform: translate(-18px, -18px);
}

.footer_component:hover .footer_logo-embed:nth-child(10) {
  transform: translate(-24px, -24px);
}

.footer_component:hover .footer_logo-embed:nth-child(9) {
  transform: translate(-30px, -30px);
}

.footer_component:hover .footer_logo-embed:nth-child(8) {
  transform: translate(-36px, -36px);
}

.footer_component:hover .footer_logo-embed:nth-child(7) {
  transform: translate(-42px, -42px);
}

.footer_component:hover .footer_logo-embed:nth-child(6) {
  transform: translate(-48px, -48px);
}

.footer_component:hover .footer_logo-embed:nth-child(5) {
  transform: translate(-54px, -54px);
}

.footer_component:hover .footer_logo-embed:nth-child(4) {
  transform: translate(-60px, -60px);
}

.footer_component:hover .footer_logo-embed:nth-child(3) {
  transform: translate(-66px, -66px);
}

.footer_component:hover .footer_logo-embed:nth-child(2) {
  transform: translate(-72px, -72px);
}

.footer_component:hover .footer_logo-embed:nth-child(1) {
  transform: translate(-78px, -78px);
}

.footer_logo-embed {
  transition: transform 0.5s ease;
  transform-origin: 50% 50% 0px;
}

/* Process */
.process_text.is-active .process_icon {
  border-color: #ccd4ff;
  box-shadow: 0px 0px 7px 0px #cac9ff,
    0px 0px 11px 0px rgba(185, 192, 255, 0.85) inset;
  color: #8c97ff;
}

.process_text.is-active .is-process_title {
  color: #eee;
}
