/* Button Hover animations */
.button-v5-arrow,
.button-arrow,
.button-v5-arrow-dark {
  transition: all 0.2s;
}

.btn-arrow-icon.is-front,
.btn-arrow-icon-back,
.btn-arrow-icon.is-rotated-arrow {
  transition: width 0.2s ease, transform 0.2s ease, opacity 0.2s ease;
}

.button-v5-arrow:hover {
  background-color: var(--color-dm-sec-btn);
  transform: scale3d(1.03, 1.03, 1);
}

@media screen and (min-width: 992px) {
  .button-v5-arrow:hover .btn-arrow-icon.is-front,
  .button-v5-arrow-dark:hover .btn-arrow-icon.is-front {
    transform: translate(50%, 0);
  }

  .button-v5-arrow:hover .btn-arrow-icon-back,
  .button-v5-arrow-dark:hover .btn-arrow-icon-back {
    transform: translate(-55%, -50%);
    opacity: 1;
    width: 35%;
  }

  .button-v5-arrow:hover .btn-arrow-icon.is-rotated-arrow {
    transform: translate(20%, -12%);
  }
}

.button-v5-arrow:hover .button-arrow {
  color: var(--color-dm-accent);
}

.button-v5-arrow-dark:hover {
  background-color: var(--color-primary-blue);
  transform: scale3d(1.03, 1.03, 1);
}

.button-v5-arrow-dark:hover .button-arrow {
  color: var(--color-dm-secondary-text);
}

.button-v5-arrow.disabled {
  background-color: #25252e;
  pointer-events: none;
}

.button-v5-arrow.small.is-project .btn-arrow-icon.is-front {
  margin-top: 3px;
}

/* Thank you pages */
@media screen and (max-width: 991px) {
  .section_reviews-loop.is-submission-success {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 767px) {
  .section_reviews-loop.is-submission-success {
    margin-top: 5rem;
  }
}
